---
layout: page
title: About me
weight: 2
img: img/bio.jpg
---

<h1 class="text-center">{{ page.title }}</h1>

<img class="img-thumbnail" style="float:right; margin-top:25px; margin-bottom:25px;" src="{{ site.baseurl }}/{{ page.img }}" alt="Tomas Ondrias" >

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 5px;">
  <li role="presentation" class="active"><a href="#english" aria-controls="english" role="tab" data-toggle="tab">English</a></li>
  <li role="presentation"><a href="#deutsch" aria-controls="deutsch" role="tab" data-toggle="tab">Deutsch</a></li>
  <li role="presentation"><a href="#slovensky" aria-controls="slovensky" role="tab" data-toggle="tab">Slovensky</a></li>
</ul>
<!-- Tab content -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="english">
    {% include about/english.txt %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="deutsch">
    {% include about/deutsch.txt %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="slovensky">
    {% include about/slovensky.txt %}
  </div>
</div>
